* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #e0f7fa; /* Couleur de fond blanc bleuâtre */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #00838f; /* Bleu turquoise foncé */
    padding: 20px;
    text-align: center;
}


.header-container h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.header-container h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.profile-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-container P {
    color: #006064; /* Bleu turquoise */ 
}


hr {
    border: none; /* Enlève la bordure par défaut */
    height: 3px; /* Épaisseur de la ligne */
    background-color: #006064; /* Couleur de la ligne (turquoise clair) */
    margin: 20px 0; /* Espacement autour de la ligne */
}


h2 {
    color: #006064; /* Bleu turquoise */
    margin-top: 30px;
    margin-bottom: 15px;
}

.experience-container, .education-container, .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.experience, .education, .project {
    background-color: #00acc1; /* Bleu turquoise clair */
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.civilite-container, .diplome-container {
    display: grid;
   /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: left;
    align-items: top;
  
    
}




.civilite-container{
    background-color: #00acc1; /* Bleu turquoise clair */
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mosaic {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    width: 90%;
    max-width: 1200px;
}

.mosaic-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.mosaic-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mosaic-item.xlarge {
    grid-column: span 3;
    grid-row: span 2;
}


.mosaic-item.large {
    grid-column: span 2;
    grid-row: span 2;
}

.mosaic-item.medium {
    grid-column: span 3;
}

.mosaic-item.small {
    grid-column: span 2;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
}

.mosaic-item:hover .overlay {
    opacity: 1;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #00acc1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

ul li:hover {
    background-color: #00838f;
    transform: translateX(10px);
}

footer {
    background-color: #00838f;
    text-align: center;
    padding: 20px;
    color: #fff;
}
